@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EBE9E1;
  --foreground: #E43D12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav{
  color: var(--foreground);
  background: var(--background);

}
